@model List<Reference>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Referanslar Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans Adı</th>
        <th>Firma Adı</th>
        <th>Referans Numarası</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            @*<td>@item.ReferenceID</td>*@
            <td>@item.ReferenceName</td>
              <td>@item.CompanyName</td>
                <td>@item.ReferenceNumber</td>
            
          
            <td><a href="/Reference/DeleteReference/@item.ReferenceID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Reference/UpdateReference/@item.ReferenceID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Reference/AddReference/" class="btn btn-outline-primary">Yeni Referans Girişi</a>

